.button {
  all: unset;
  cursor: pointer;
  border: 1px solid #ff6c37;
  padding: 0.6rem;
  border-radius: 0.5rem;
  font-weight: 600;
  color: #ff6c37;
  transition: 0.3s all ease-in-out;
  text-align: center;
}
.button:hover {
  background-color: #ff6c37;
  color: white;
}
.button-primary {
  background-color: #ff6c37;
  color: white;
  transition: 0.3s all ease-in-out;
}
.button-primary:hover {
  background-color: #db3e05;
}
