<div class="h-20 border-b border-gray-300 w-full flex justify-between">
    <span class="flex gap-2 items-center">
        <img src="../../assets/images/helply-logo.svg"
             class="pl-4 h-10">
        <app-theme-switcher></app-theme-switcher>
    </span>
    <div class="pr-4 flex items-center gap-4">
        <p class="button-inline">Kategorie</p>
        <p class="button-inline">Dodaj ogłoszenie</p>
        <p class="button-inline">Zaloguj się</p>
        <p class="button">Zarejestruj się</p>
    </div>
</div>
