<nav [ifSize]="'S'"
     class="h-20 border-b border-gray-300 w-full flex justify-between">
    <span class="flex gap-2 items-center">
        <img src="../../assets/images/helply-logo.svg"
             class="pl-4 h-10">
        <app-theme-switcher></app-theme-switcher>
    </span>
    <ul class="pr-4 flex items-center gap-4">
        <li><a class="button-inline"
               routerLink="/categories"
               routerLinkActive="active">Kategorie</a></li>
        <li><a class="button-inline"
               routerLink="/new-post"
               routerLinkActive="active">Dodaj ogłoszenie</a></li>
        <li><a class="button-inline"
               routerLink="/login"
               routerLinkActive="active">Zaloguj się</a></li>
        <li><a class="button"
               routerLink="/register"
               routerLinkActive="active">Zarejestruj się</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
