.form__input input {
  all: unset;
  width: 100%;
}
.form__input {
  border: 1px solid #d8d8da;
  border-radius: 0.5rem;
  display: flex;
  transition: all 0.3s ease-in-out;
}
.form__input:focus-within {
  border-color: black;
  display: flex;
}
.input__icon {
  color: black;
  width: 1.4rem;
  height: auto;
  padding: 0.5rem 0.8rem;
}
/* DARK MODE */
.form__input-dark {
  border: 1px solid #363636;
}
.input__icon-dark {
  color: white;
}
.form__input-dark:focus-within {
  border-color: white;
}