.input {
  all: unset;
  padding: 0.5rem 0.5rem;
  border: 1px #d8d8da solid;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.3s all ease-in-out;
}
.input:focus {
  border-color: black;
}

/* DARK MODE */

.input-dark {
  color: white;
  border-color: #363636;
}
.input-dark:focus {
  border-color: white;
}
