.header {
  display: flex;
  height: 4.5rem;
  border-bottom: 1px solid #ececec;
}

.header__nav {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
}
.logo__wrapper {
  margin-right: auto;
  height: 55%;
  display: flex;
  align-items: center;
}
.logo__wrapper img {
  width: 120px;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.nav__login {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-items: space-around;
  border-left: 1px solid #ececec;
}
.header__nav ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  height: 65%;
}
.header__nav li {
  align-self: center;
}
.nav__link {
  color: #a8a8a8;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.nav__link:hover {
  color: #2c2c2c;
}
.nav__link-active {
  color: #ff6c37;
}
.nav__link-active:hover {
  color: #ff6c37;
}
.login__button {
  text-decoration: none;
}

/* DARK THEME */

.header-dark {
  border-color: #363636;
}
.header-dark .nav__login {
  border-color: #363636;
}
.header-dark .nav__link {
  color: #5f5f5f;
}
.header-dark .nav__link-active,
.header-dark .nav__link:hover {
  color: white;
}
.header-dark .login__button {
  color: white;
}
