.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.wrapper-dark h1 {
  color: white;
}
.settings {
  display: flex;
  gap: 1rem;
  width: 70%;
  max-width: 96rem;
}
.settings__menu {
  width: 20%;
}
.settings__menu ul {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px #ececec solid;
  border-radius: 10px;
  padding: 1.9rem 1.5rem;
  color: #a8a8a8;
  gap: 1rem;
  list-style: none;
  font-weight: 600;
}
.settings__menu li {
  cursor: pointer;
}
.menu__active {
  color: #ff6c37;
}
.settings__wrapper {
  width: 80%;
}
.settings__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px #ececec solid;
  border-radius: 10px;
  gap: 1rem;
  padding: 0.9rem 1.5rem;
  color: #a8a8a8;
}
/* MOBILE VIEW */
@media screen and (max-width: 1289px) {
  .settings {
    flex-wrap: wrap;
    gap: 0;
  }
  .settings__menu {
    width: 100%;
  }
  .settings__menu ul {
    padding: 1rem;
    flex-direction: row;
    justify-content: space-around;
  }
  .settings__wrapper {
    width: 100%;
  }
  .settings__content h1 {
    display: none;
  }
}
@media screen and (max-width: 741px) {
  .settings {
    width: 100%;
  }
}
@media screen and (max-width: 470px) {
  .settings__menu ul {
    flex-direction: column;
  }
}

/* DARK MODE */
.wrapper-dark .settings__menu ul,
.wrapper-dark .settings__content {
  border: 1px #363636 solid;
  color: #5f5f5f;
}
