@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
$main-color-400: #ff6c37;
$main-color-800: rgb(223, 76, 22);
$gray-color-400: rgb(161 161 170);
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}
.button {
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  padding: 0.6rem;
  text-align: center;
  background-color: $main-color-400;
  color: white;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $main-color-800;
  }
}
.button-inline {
  cursor: pointer;
  font-weight: 600;
  color: $gray-color-400;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $main-color-400;
  }
}
