.ad {
  border: 1px #ececec solid;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 18rem;
  height: 16rem;
  gap: 1rem;
  transition: border 0.3s ease-out;
}
.ad:hover {
  border: solid black 1px;
  cursor: pointer;
}
.ad svg {
  color: #ff6c37;
}
.ad hr {
  width: 60%;
  border: 0;
  border-top: 1px solid #ececec;
}
.ad h3 {
  margin: 0;
  font-weight: normal;
}
.ad__details {
  position: relative;
}
.ad__details::after {
  content: '';
  background: #ececec;
  width: 12rem;
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.details__level {
  color: #a8a8a8;
  font-size: 1rem;
}
.details__subject {
  font-size: 1.4rem;
}
.ad__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}
.user__name {
  transition: 0.3s color ease-in-out;
}
.user__name:hover {
  color: #ff6c37;
  text-decoration: underline;
}
.user__img {
  width: 4rem;
  border-radius: 50%;
}
.user__rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.user__rate p {
  color: #a8a8a8;
  font-size: 0.7rem;
}
.rate__stars {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.rate__stars::after {
  content: '';
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  right: -0.5rem;
  background: #ececec;
}
/* DARK MODE */
.ad-dark {
  border: 1px #363636 solid;
}
.ad-dark:hover {
  border: 1px solid white;
}
.ad-dark .ad__details::after,
.ad-dark .rate__stars::after {
  background: #363636;
}
.ad-dark .details__subject,
.ad-dark .user__name {
  color: white;
}
.ad-dark .user__name:hover {
  color: #ff6c37;
}
