.settings {
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.setting {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.setting__button {
  display: flex;
  flex-direction: column;
  width: 8rem;
  margin-top: 0.4rem;
}
